@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Quicksand:wght@300..700&display=swap');

body
{
	background-color:#ECECEC; 
	font-family:"Quicksand",Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #423F3F; 
	font-size: 16px	
		
	
}
h1
{
	font-size: 48px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
h2{ font-size: 40px; }
h3{ font-size: 36px}
h4{ font-size: 30px}
h5{ font-size: 24px}
h6{ font-size: 18px}
.font-script
{
	 font-family: "Mea Culpa", cursive;	
}

.container 
{
	width: 80%;
	margin: auto;
	align-items:flex-end
}

.container-2
{ width: 90%;
  margin: auto;
  align-content: flex-end }


*{ box-sizing: border-box} 
.col-1{ width: 8.33%} 
.col-2{ width: 16.66%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width: 41.66%}
.col-6{ width: 50%}
.col-7{ width: 58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
	border: 1
		px solid red;
	padding: 16px
}
.row
{
	display: flex;
	flex-wrap: wrap
}

.row-1 {
  display: flex;
  justify-content: center; 
}

.img-100{ width: 100%; height: auto}
.text-center{ text-align:center}
.bg-footer

{
	background-color: #9A9A9A;
	padding-top: 50px;
	padding-bottom: 50px
}

.text-primary { color: #EB0E13}
.text-secondary { color: #FFF200}
.text-dark{ color: #000}
.text-light{ color: #eee}
.text-body{ color: #424141}
.text-success{ color: yellow}
.text-danger{ color: orangered}

.bg-primary { background-color:greenyellow}
.bg-secondary { background-color:red}
.bg-dark{ background-color: #000}
.bg-light{ background-color: #ddd}
.bg-success{ background-color: yellow}
.bg-danger{ background-color: orangered}
.bg-footer { background-color: #ddd}
a{
	color:#000000; 
	text-decoration:#fff;  
	font-weight: bold
}
a:hover{ color:red; }

.btn-primary {
	background-color:greenyellow;
	color: #000000;
	border-radius: 50px; 
	padding: 8px 16px;
	font-weight: 600
}
.btn-primary:hover
{
	background-color: red;
	color: #fff
}

.navbar ul
{  
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex
		
}
.navbar ul li
{
	
}
.navbar ul li a
{
	padding:10px 22px;
	background-color:greenyellow;
	color: #000000;
	margin: 10px;
	display: block;
	border-radius: 40px;
}

.navbar ul li a:hover
{
	background-color:red;
	text-decoration-color:#FFFFFF
}

.img-100-1 {
  width: 120px;   
  height: 120px;
  object-fit: contain; 
  margin: 0 auto; 
  display: block;
}
.row {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap;
}
.w-25 {
  text-align: center;
}

.logo img {
  width: 250px;   
  height: auto;  
}


footer {
  width: 100%;          
  margin: 0;           
  padding: 20px 0;      
  background: #ddd  
}

footer .footer-container {
  display: flex;           
  justify-content: space-around; 
  flex-wrap: wrap;          
  max-width: 1200px;        
  margin: auto;            
}
.full-line {
  border-bottom: 1px solid #000; 
  padding: 5px 0;                
  margin-bottom: 10px;           
}

.custom-line {
  border: none;
  border-top: 2px solid #3C3A3A; 
  width: 100%;               
  margin: 10px 0;       
}


.card {
  flex: 1;                
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  margin: 10px;
}

hr {
  margin: 10px 0 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.col img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.block {
  margin-bottom: 15px; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;           
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;            
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
	width: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 3px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
	border-radius: 40px
}

.menu a:hover {
  background-color: #f00; 
	text-decoration-color: #000000

}

.btn-register {
  background: #FFD500;
  color: #000;
  padding: 8px 18px;
  border-radius: 40px;
  font-weight: bold;
  text-decoration: none;
 
}

.btn-register:hover {
  background: #f1c40f;
}

.banner {
  position: relative;
  width: auto;
  height: auto; /* chỉnh theo banner của bạn */
  overflow: hidden;
  margin-bottom: 50px
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ảnh sẽ co giãn đầy đủ mà không méo */
  display: block;
	
}

.margin
{
	margin-bottom: 20px
}

.banner .overlay {
  position: absolute;
  inset: 0; /* thay cho top, right, bottom, left */
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.banner .text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.program-card {
  display: flex;
  align-items: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  gap: 20px;
}
.program-image img {
  width: 250px; 
	height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
	 box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.intro-box-p
{
	margin-bottom: 30px
}